<footer class="footer mt-3 pb-2">
  <div class="container text-center">

    <a href="https://www.linkedin.com/in/david-torpey-6b098aa4/" target="_blank" rel="noreferrer"
      ><span class="text-muted mr-3">LinkedIn</span></a
    ></a>

    <a href="https://github.com/davidTorpey/" target="_blank" rel="noreferrer"
      ><span class="text-muted mr-3">GitHub</span></a
    >
    <a href="https://davidtorpey.com/feed.xml" target="_blank" rel="noreferrer"
      ><span class="text-muted mr-3">RSS</span></a
    >

  </div>
</footer>
<!-- JS -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha256-63ld7aiYP6UxBifJWEzz87ldJyVnETUABZAYs5Qcsmc="
  crossorigin="anonymous"
></script>
